/* ========================================================== BODY =================================================================== */
/* BODY */
/* ========================================================== BODY =================================================================== */

html {
  font-size: 12px !important;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 560px) {
  html {
    font-size: 8px !important;
  }
}

@media screen and (min-width: 630px) {
  html {
    font-size: 12px !important;
  }
}

@media screen and (min-width: 810px) {
  html {
    font-size: 9px !important;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 20px !important;
  }
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 20px !important;
  }
}

/* IMG HELP */
.img_help {
    opacity: 40%;
    width: 100%;
    max-width: 30px;
    height: auto;
}

/* ========================================================== MAIN CONTAINER ========================================================= */
/* MAIN CONTAINER */
.container-fluid {
    padding: 10px !important;
}

/* ========================================================== HEADER ================================================================= */
/* HEADER */
.cell1 {
    width: 5% !important;
    min-width: 15px;
}

.cell2 {
    width: 5% !important;
    min-width: 15px;
    margin-right: 10px;
}

.cell3 {
    font-size: 25px !important;
    width: 75% !important;
    background-color: rgba(255, 255, 255, 0.479);
}

@media screen and (min-width: 320px) {
  .cell3 {
    font-size: 16px !important;
  }
}

@media screen and (min-width: 560px) {
  .cell3 {
      font-size: 10px !important;
  }
}

@media screen and (min-width: 720px) {
  .cell3 {
      font-size: 18px !important;
  }
}

@media screen and (min-width: 1000px) {
  .cell3 {
      font-size: 25px !important;
  }
}

@media screen and (min-width: 2000px) {
  .cell3 {
      font-size: 35px !important;
  }
}


/* ========================================================== MIDDLE DIV ============================================================= */
/* MIDDLE DIV */
.middle_div {
    background-color: rgba(255, 255, 255, 0.479);
    margin: auto;
    padding: 12px;
    width: 85% !important;
    height: auto;
    border: 3px solid rgb(255, 255, 255);
    position: relative;
}

@media screen and (min-width: 320px) {
  .middle_div {
      height: 108% !important;
  }
}

@media screen and (min-width: 560px) {
  .middle_div {
      height: 85% !important;
  }
}

@media screen and (min-width: 630px) {
  .middle_div {
      height: 87% !important;
  }
}

@media screen and (min-width: 660px) {
  .middle_div {
      height: 86% !important;
  }
}

@media screen and (min-width: 700px) {
  .middle_div {
      height: 85% !important;
  }
}

@media screen and (min-width: 735px) {
  .middle_div {
      height: 85% !important;
  }
}

@media screen and (min-width: 800px) {
  .middle_div {
      height: 95% !important;
  }
}

@media screen and (min-width: 810px) {
  .middle_div {
      height: 85% !important;
  }
}

@media screen and (min-width: 820px) {
  .middle_div {
      height: 86% !important;
  }
}

@media screen and (min-width: 900px) {
  .middle_div {
      height: 78% !important;
  }
}

@media screen and (min-width: 1000px) {
  .middle_div {
      height: 85% !important;
  }
}

/* BURGER MENU */
.burger_menu {
    text-align: right;
    float:right;
}

/* ========================================================== CENTER DIV ============================================================= */
/* CENTER DIV */

/* DIV HEADING - TEXT */
.div_heading {
    background-color: rgba(37, 32, 32, 0.692) !important;
    color: white;
    max-width: 340px;
    left: 0;
    margin: 0;
    position: absolute;
}

.center_row {
    margin-top: 5%;
}

/* TABLE */
.table {
    margin-left: 2% !important;
    margin-right: 1% !important;
    word-wrap:break-word;
    table-layout:fixed;

}

td {
    word-wrap:break-word;
    }

.cat1 {
    background-color: rgba(37, 32, 32, 0.692) !important;
    color: white;
    width: 40px !important;
}

.cat2 {
    width: 80px !important;
}

.cat1, .cat2 {
    font-size: 16px !important;
  }

  @media screen and (min-width: 320px) {
    .cat1, .cat2 {
      font-size: 7px !important;
    }
  }

  @media screen and (min-width: 630px) {
    .cat1, .cat2 {
      font-size: 8.2px !important;
    }
  }

  @media screen and (min-width: 720px) {
    .cat1, .cat2 {
      font-size: 10px !important;
    }
  }

  @media screen and (min-width: 1000px) {
    .cat1, .cat2 {
      font-size: 12px !important;
    }
  }

  @media screen and (min-width: 2000px) {
    .cat1, .cat2 {
      font-size: 22px !important;
    }
  }

.no {
  background-color: rgba(37, 32, 32, 0.692) !important;
  color: white;
}

.lis {
  background-color: rgba(255, 255, 255, 0.692) !important;
}

.lis1 {
  background-color: rgba(255, 255, 255, 0.692) !important;
  text-align: center;
}

  /* BDs LIST */

.ddfp {
  font-size: 12px !important;
}

@media screen and (min-width: 320px) {
  .ddfp {
    font-size: 6px !important;
  }
}

@media screen and (min-width: 720px) {
  .ddfp {
    font-size: 7px !important;
  }
}

@media screen and (min-width: 1000px) {
  .ddfp {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 2000px) {
  .ddfp {
    font-size: 18px !important;
  }
}

.group-list {
  font-size: 18px !important;
}

@media screen and (min-width: 320px) {
  .group-list {
    font-size: 7px !important;
  }
}

@media screen and (min-width: 720px) {
  .group-list {
    font-size: 10px !important;
  }
}

@media screen and (min-width: 1000px) {
  .group-list {
    font-size: 18px !important;
  }
}

/* BACK BUTTON / & / BORROW BUTTON */
.btns_div {
    margin-left: 1% !important;
    margin-right: 1% !important;
    margin-top: 2.2% !important;
}

@media screen and (min-width: 560px) {
  .btns_div {
    margin-top: -2.5% !important;
  }
}

@media screen and (min-width: 630px) {
  .btns_div {
    margin-top: -5% !important;
  }
}

@media screen and (min-width: 660px) {
  .btns_div {
    margin-top: -1.8% !important;
  }
}

@media screen and (min-width: 730px) {
  .btns_div {
    margin-top: 1.5% !important;
  }
}

@media screen and (min-width: 810px) {
  .btns_div {
    margin-top: 2% !important;
  }
}

@media screen and (min-width: 820px) {
  .btns_div {
    margin-top: 8% !important;
  }
}

@media screen and (min-width: 1020px) {
  .btns_div {
    margin-top: 16% !important;
  }
}

@media screen and (min-width: 1120px) {
  .btns_div {
    margin-top: 8% !important;
  }
}

@media screen and (min-width: 1800px) {
  .btns_div {
    margin-top: 20.51% !important;
  }
}

/* ========================================================== BODY END =============================================================== */