/* ========================================================== BODY =================================================================== */
/* BODY */

html {
    font-size: 12px !important;
  }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 16px !important;
    }
  }

/* IMG HELP */
.img_help {
    opacity: 40%;
    width: 100%;
    max-width: 30px;
    height: auto;
}

/* ========================================================== MAIN CONTAINER ========================================================= */
/* MAIN CONTAINER */
.container-fluid {
    padding: 10px !important;
}

/* ========================================================== CONNECTION FORM ======================================================== */
/* ERROR MESSAGE */
.error_msg {
    background-color: rgba(255, 255, 255, 0.479);
    margin: auto;
    width: 50%;
    border: 3px solid rgb(255, 255, 255);
    padding: 10px;
    margin-top: 2%;
}

@media screen and (min-width: 530px) {
  .error_msg {
    width: 100% !important;
  }
}

@media screen and (min-width: 630px) {
  .error_msg  {
    width: 100% !important;
  }
}

@media screen and (min-width: 1000px) {
  .error_msg  {
    width: 50% !important;
  }
}

.hr1 {
    border-top: 1px solid rgb(80, 80, 80);
}

.h1 {
    font-size: 18px !important;
    font-weight: bold;
}

#btn_ok {
  float: right;
  display: flex;
}

/* ========================================================== FOOTER ================================================================= */
/* FOOTER */
.footer {
  text-align: right;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  opacity: 40%;
}

/* ========================================================== BODY END =============================================================== */