/* ========================================================== BODY =================================================================== */
/* BODY */

html {
    font-size: 12px !important;
  }

  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }

  @media screen and (min-width: 560px) {
    html {
      font-size: 8px !important;
    }
  }

  @media screen and (min-width: 630px) {
    html {
      font-size: 12px !important;
    }
  }

  @media screen and (min-width: 810px) {
    html {
      font-size: 9px !important;
    }
  }
  
  @media screen and (min-width: 1000px) {
    html {
      font-size: 20px !important;
    }
  }

  @media screen and (min-width: 2000px) {
    html {
      font-size: 40px !important;
    }
  }

/* IMG HELP */
.img_help {
    opacity: 40%;
    width: 100%;
    max-width: 30px;
    height: auto;
}

/* ========================================================== MAIN CONTAINER ========================================================= */
/* MAIN CONTAINER */
.container-fluid {
    padding: 10px !important;
}

/* ========================================================== HEADER ================================================================= */
/* HEADER */
.cell1 {
    width: 5% !important;
    min-width: 15px;
}

.cell2 {
    width: 5% !important;
    min-width: 15px;
    margin-right: 10px;
}

.cell3 {
    font-size: 25px !important;
    width: 75% !important;
    background-color: rgba(255, 255, 255, 0.479);
}


@media screen and (min-width: 320px) {
    .cell3 {
      font-size: 16px !important;
    }
  }

@media screen and (min-width: 560px) {
    .cell3 {
        font-size: 12px !important;
    }
}
  
@media screen and (min-width: 720px) {
    .cell3 {
        font-size: 18px !important;
    }
}

@media screen and (min-width: 1000px) {
    .cell3 {
        font-size: 25px !important;
    }
}

/* ========================================================== MIDDLE DIV ============================================================= */
/* MIDDLE DIV */
.middle_div {
    background-color: rgba(255, 255, 255, 0.479);
    margin: auto;
    padding: 12px;
    width: 85% !important;
    height: auto;
    border: 1px solid rgb(255, 255, 255) !important;
    position: relative;
}

/* BURGER MENU */
.burger_menu {
    text-align: right;
    float:right;
}

/* CENTER DIV */
.center_div {
    margin-top: 2% !important;
    margin: auto;
    width: 60%;
    padding: 10px;
}

@media (min-width: 576px) { 
    
    .center_div {
        margin-top: 2% !important;
        margin: auto;
        width: 60%;
        padding: 10px;
    }
 }

 @media (min-width: 812px) { 
    
    .center_div {
        margin-top: 2% !important;
        margin: auto;
        width: 40%;
        padding: 10px;
    }
 }

 @media (min-width: 820px) { 
    
    .center_div {
        margin-top: 2% !important;
        margin: auto;
        width: 60%;
        padding: 10px;
    }
 }

/* IMG : .search icon. and .silhouette icon.  */
._img1 {
    width: 100%;
    max-width: 100px;
    height: auto;
}

._img2 {
    width: 100%;
    max-width: 100px;
    height: auto;
}

/* ========================================================== SEARCH =================================================================== */

/* CONSULTATION DU FOND header */
.consult_dfond {
    background-color: rgba(97, 77, 77, 0.459);
    text-align: center;
    font-weight: bold !important;

}
/* ========================================================== SEARCH IMAGE ============================================================= */
/* SEARCH IMG */
.img_search_div {
    text-align: center;
}

.img_search_form {
    width: 100%;
    max-width: 220px;
    height: auto;
}

@media (min-width: 568px) { 
    
    .img_search_form {
        width: 43%;
        max-width: 220px;
        height: auto;
    }
 }

 @media (min-width: 640px) { 
    
    .img_search_form {
        width: 40%;
        max-width: 220px;
        height: auto;
    }
 }

 @media (min-width: 812px) { 
    
    .img_search_form {
        width: 53%;
        max-width: 220px;
        height: auto;
    }
 }

 @media (min-width: 820px) { 
    
    .img_search_form {
        width: 47%;
        max-width: 220px;
        height: auto;
    }
 }

 @media (min-width: 1020px) { 
    
    .img_search_form {
        width: 98%;
        max-width: 420px;
        height: auto;
    }
 }

 @media (min-width: 1200px) { 
    
    .img_search_form {
        width: 80%;
        max-width: 280px;
        height: auto;
    }
 }

 @media (min-width: 1400px) { 
    
    .img_search_form {
        /* margin-top: 1%; */
        width: 52%;
        max-width: 480px;
        height: auto;
    }
 }

 @media (min-width: 2000px) { 
    
    .img_search_form {
        margin-top: 5%;
        width: 80%;
        max-width: 650px;
        height: auto;
    }
 }
/* ========================================================== SEARCH FORM ============================================================== */
/* SEARCH FORM */
.search_form {
    margin: auto;
    width: 80%;
    margin-top: 5%;
}

/* ========================================================== LIST TABLE =============================================================== */
/* LIST TABLE */
/* TAB 1 - TR1 */
.tab1 {
    margin-left: 2% !important;
    margin-right: 1% !important;
    word-wrap:break-word;
    table-layout:fixed;
    background-color: rgb(243, 241, 230, 0.63);
    border-color: grey;
    border: 1px solid;
  }
  
  /* .tr1 {
    border: solid;
  } */
  
  .td1 {
    border: solid;
    border-color: grey;
    border: 1px solid;
    padding: 12px;
  }

  #myInput {
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }

/* ========================================================== BUTTONS ================================================================== */

/* BTN BACK */
 .btn_bck {
     margin-top: 10% !important;
     position: fixed;
 }

 @media (min-width: 560px) { 
    
    .btn_bck {
        margin-top: -5% !important;
        position: fixed;
    }
 }

 @media (min-width: 660px) { 
    
    .btn_bck {
        margin-top: -2% !important;
        position: fixed;
    }
 }

 @media (min-width: 730px) { 
    
    .btn_bck {
        margin-top: 2% !important;
        position: fixed;
    }
 }

 @media (min-width: 810px) { 
    
    .btn_bck {
        margin-top: -5% !important;
        position: fixed;
    }
 }

 @media (min-width: 820px) { 
    
    .btn_bck {
        margin-top: 0 !important;
        position: fixed;
    }
 }

 @media (min-width: 1000px) { 
    
    .btn_bck {
        margin-top: 8% !important;
        position: fixed;
    }
 }

 /* @media (min-width: 1880px) { 
    
    .btn_bck {
        margin-top: 8% !important;
        position: fixed;
    }

 } */

/* BUTTON back to TOP */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(2, 2, 2, 0.507); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  
/* ========================================================== BODY END =============================================================== */