/* ========================================================== BODY =================================================================== */
/* BODY */
/* ========================================================== BODY =================================================================== */

html {
    font-size: 12px !important;
  }

  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  
  @media screen and (min-width: 1000px) {
    html {
      font-size: 20px !important;
    }
  }

/* IMG HELP */
.img_help {
    opacity: 40%;
    width: 100%;
    max-width: 30px;
    height: auto;
}

/* ========================================================== MAIN CONTAINER ========================================================= */
/* MAIN CONTAINER */
.container-fluid {
    padding: 10px !important;
}

/* ========================================================== HEADER ================================================================= */
/* HEADER */
.cell1 {
    width: 5% !important;
    min-width: 15px;
}

.cell2 {
    width: 5% !important;
    min-width: 15px;
    margin-right: 10px;
}

.cell3 {
    font-size: 25px !important;
    width: 75% !important;
    background-color: rgba(255, 255, 255, 0.479);
}

/* ========================================================== MIDDLE DIV ============================================================= */
/* MIDDLE DIV */
.middle_div {
    background-color: rgba(255, 255, 255, 0.479);
    margin: auto;
    padding: 12px;
    width: 85% !important;
    height: auto;
    border: 3px solid rgb(255, 255, 255);
    position: relative;
}

 @media screen and (min-width: 320px) {
    .middle_div {
        height: 108% !important;
    }
  }

  @media screen and (min-width: 560px) {
    .middle_div {
        height: 98% !important;
    }
  }

  @media screen and (min-width: 630px) {
    .middle_div {
        height: 88% !important;
    }
  }

  @media screen and (min-width: 660px) {
    .middle_div {
        height: 86% !important;
    }
  }

  @media screen and (min-width: 700px) {
    .middle_div {
        height: 85% !important;
    }
  }

  @media screen and (min-width: 735px) {
    .middle_div {
        height: 84% !important;
    }
  }

  @media screen and (min-width: 800px) {
    .middle_div {
        height: 95% !important;
    }
  }

  @media screen and (min-width: 820px) {
    .middle_div {
        height: 88% !important;
    }
  }

  @media screen and (min-width: 900px) {
    .middle_div {
        height: 78% !important;
    }
  }

/* BURGER MENU */
.burger_menu {
    text-align: right;
    float:right;
}

/* ========================================================== CENTER DIV ============================================================= */
/* CENTER DIV */

.col4 {
    width: 60% !important;
}

.col5 { 
    width: 40% !important;
}


/* DIV HEADING - TEXT */
.div_heading {
    background-color: rgba(37, 32, 32, 0.692) !important;
    color: white;
    max-width: 230px;
    left: 0;
    margin: 0;
    position: absolute;
}

.center_row {
    margin-top: 5%;
}

/* TABLE */
.table {
    margin-left: 2% !important;
    margin-right: 1% !important;
    word-wrap:break-word;
    table-layout:fixed;

}

td {
    word-wrap:break-word;
    }

.cat1 {
    background-color: rgba(37, 32, 32, 0.692) !important;
    color: white;
    max-width: 80px !important;
}

.cat2 {
    background-color: rgba(255, 255, 255, 0.63) !important;
    max-width: 200px !important;
}

.cat1, .cat2 {
    font-size: 10px !important;
  }

  @media screen and (min-width: 320px) {
    .cat1, .cat2 {
      font-size: 7px !important;
    }
  }

  @media screen and (min-width: 720px) {
    .cat1, .cat2 {
      font-size: 10px !important;
    }
  }

  @media screen and (min-width: 1000px) {
    .cat1, .cat2 {
      font-size: 12px !important;
    }
  }

/* COVER IMAGE */
.cover_img_div {
    float: right !important;
}

.img_cover {
    margin-top: 0px;
    margin-right: 5%;
    float: right;
}

/* DESCRIPTION row */
.description {
    margin-left: 4%;
}

.box{
    position:absolute;
    width: 855px;
    height: 150px;
    top:0;
    left:0;
    overflow: auto;
    border: solid rgba(255, 255, 255, 0.63) 2px;
    background-color: rgba(255, 255, 255, 0.63) !important;
    font-size: 12px !important;
}

  @media screen and (min-width: 320px) {
    .box {
        position:absolute;
        width: 855px;
        height: 50px;
        top:0;
        left:0;
        overflow:auto;
        border: solid rgba(255, 255, 255, 0.63) 2px;
        background-color: rgba(255, 255, 255, 0.63) !important;
        font-size: 8px !important;
    }
  }

  @media screen and (min-width: 720px) {
    .box {
        position:absolute;
        width: 855px;
        height: 50px;
        top:0;
        left:0;
        overflow:auto;
        border: solid rgba(255, 255, 255, 0.63) 2px;
        background-color: rgba(255, 255, 255, 0.63) !important;
        font-size: 10px !important;
    }
  }

  @media screen and (min-width: 1000px) {
    .box {
        position:absolute;
        width: 855px;
        height: 150px;
        top:0;
        left:0;
        overflow:auto;
        border: solid rgba(255, 255, 255, 0.63) 2px;
        background-color: rgba(255, 255, 255, 0.63) !important;
        font-size: 12px !important;
  }
}

/* BACK BUTTON / & / BORROW BUTTON */
.btns_div {
    margin-left: 1% !important;
    margin-right: 1% !important;
    margin-top: 1% !important;
}

/* ========================================================== BODY END =============================================================== */